In [1]:
import pandas as pd

In [3]:
path = 'income-per-house.xlsx'
df = pd.read_excel("income-per-house.xlsx")

In [10]:
df

,ภาค และจังหวัด,Unnamed: 1,2541,2543,2545,2547,2549,2550,2552,2554,2556,2558,Region and province
0,NaN,NaN,1998.0,2000.0,2002.0,2004.0,2006.0,2007.0,2009.0,2011.0,2013.0,2015.000000,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ทั่วราชอาณาจักร,NaN,12492.0,12150.0,13736.0,14963.0,17787.0,18660.0,20904.0,23235.9,25194.0,26914.846584,Whole Kingdom
3,ตอนพิเศษ,NaN,24929.0,25242.0,28239.0,28135.0,33088.0,35007.0,37732.0,41630.6,43058.0,41002.390519,Greater Bangkok
4,กรุงเทพมหานคร,NaN,26054.0,26909.0,29589.0,29843.0,36658.0,39020.0,42380.0,48951.0,49190.8,45571.700000,Bangkok
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,ตรัง,NaN,12973.0,12782.0,14332.0,17038.0,20801.0,23650.0,21992.0,36245.2,33269.9,23309.100000,Trang
81,พัทลุง,NaN,12315.0,11550.0,10820.0,14985.0,18045.0,18670.0,19381.0,25201.9,26169.3,21478.300000,Phattalung
82,ปัตตานี,NaN,10737.0,9759.0,9702.0,11837.0,12547.0,11840.0,13511.0,16121.5,20199.1,17513.000000,Pattani
83,ยะลา,NaN,7560.0,9932.0,10018.0,11886.0,14354.0,13698.0,19619.0,21858.8,22483.1,15583.800000,Yala
84,นราธิวาส,NaN,6281.0,7802.0,7603.0,9240.0,11586.0,13148.0,11244.0,16834.4,16772.8,19889.600000,Narathiwat

In [13]:
df.[2]
df

SyntaxError: invalid syntax (<ipython-input-13-06c7bee806e0>, line 1)